@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bcf {
  background: url(HELLO.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -60px;
  background-size: 900px;
  background-color: #0b0b0c;
}

.bcs {
  background-color: #131314;
}

.me {
  background: url(real.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10%;
  background-size: 900px;
}

.me2 {
  background: url(me.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 215px;
  height: 272px;
}

.fbn {
  font-family: "Bebas Neue", cursive;
}

* {
  --swiper-theme-color: #f35151;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-inactive-color: rgb(253, 253, 253);
}
