@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bcf {
  background: url(HELLO.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -60px;
  background-size: 900px;
  background-color: #0b0b0c;
}

.bcs {
  background-color: #131314;
}

.me {
  background: url(real.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10%;
  background-size: 900px;
}

.fbn {
  font-family: "Bebas Neue", cursive;
}

.red {
  color: #f35151;
}

.hello {
  font-size: 413px;
  color: rgba(255, 255, 255, 0.13);
}
